
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

* {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
box-sizing: border-box;
background-color: #28282B;

}
body{
  background-color: #28282B;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
